### Question 1

In [19]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a+2

In [20]:
b()
b()
b()
a

6

# Program Flow

initally the variable a is define as 0.
Global a = 0


##### Step 1: You can see that  when function b () is first called, it passes a global value to function c and returns a new value with a = 2 (0 + 2).
##### Step 2: When the b () function is called a second time, we see that the global value of a is passed to the function c and  a new value of a = 4 (2 + 2) is returned.
##### Step 3: If function b () is called three times, we see that  the global value of a in function c is passed and  a new value of a = 6 (4 + 2) is returned.

### Therefore, the last value of the global variable a is 6.

### Question 2

In [21]:
def fileLength(fileName):
    try:    
        fileLen = -1
        f = open (fileName)
        f = f.read();
        fileLen = len(f)
        print(fileLen)
    except (FileNotFoundError):
        print("File "+fileName+ " not found")
    except:
        print("Something Wrong!!")

In [22]:
fileName = input("Please Enter File Name to Get the Length: ")
fileLength(fileName)

fileName = input("\n\nPlease Enter File Name to Get the Length")
fileLength(fileName)

Please Enter File Name to Get the Length: w3c.txt
396


Please Enter File Name to Get the Lengthw4c.txt
File w4c.txt not found

### Question 3

In [23]:
class Marsupial:
    def __init__(self):
        self.marsuLst = []
    
    def put_in_pouch(self,pouch):
        self.marsuLst.append(pouch)
        
    def pouch_contents(self):
        return self.marsuLst

class Kangaroo(Marsupial):
    def __init__(self, dx, dy):
        self.x = dx
        self.y = dy
        
    def jump(self,dx,dy):
        self.x +=dx
        self.y +=dy
        
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({0},{1})".format(self.x,self.y)

In [24]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [25]:
k = Kangaroo(0,0)
k.jump(3,4)
k.jump(2,2)
print(k)

I am a Kangaroo located at coordinates (5,6)

### Question 4

In [26]:
def collatz(num):
    if(num==1):
        print(num)
    else:
        
        if(num % 2==0):
            print(num)
            num = num//2
        else:
            print(num)
            num = (3*num)+1
        collatz(num)

In [27]:
digit = int(input("Enter any Positive value :"))
if(digit >0):
    collatz(digit)
else:
    print("Value is Not Acceptable!!! Try again!!")

Enter any Positive value :10
10
5
16
8
4
2
1

### Question 5

In [28]:
def binary(decimalNum):
   if decimalNum > 1:
       binary(decimalNum//2)
        
   reminder = decimalNum % 2 
   print(reminder,end = '')

In [29]:
inputNumber = int(input("Enter Any Positive Decimal Number to Get the Binary Value:"))
binary(inputNumber)

Enter Any Positive Decimal Number to Get the Binary Value:3
11

In [30]:
inputNumber = int(input("Enter Any Positive Decimal Number to Get the Binary Value:"))
binary(inputNumber)

Enter Any Positive Decimal Number to Get the Binary Value:9
1001

### Question 6

In [31]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    h1=h2=h3=h4=h5=h6 = False
    
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.h1 = True
        if tag == 'h2':
            self.h2 = True
        if tag == 'h3':
            self.h3 = True
        if tag == 'h4':
            self.h4 = True
        if tag == 'h5':
            self.h5 = True
        if tag == 'h6':
            self.h6 = True
            

    def handle_endtag(self, tag):
        if tag == 'h1':
            self.h1 = False
        if tag == 'h2':
            self.h2 = False
        if tag == 'h3':
            self.h3 = False
        if tag == 'h4':
            self.h4 = False
        if tag == 'h5':
            self.h5 = False
        if tag == 'h6':
            self.h6 = False
            

    def handle_data(self, data):
        if self.h1:
            print(data)
        elif self.h2:
            print("    {}".format(data))
        elif self.h3:
            print("        {}".format(data))
        elif self.h4:
            print("            {}".format(data))
        elif self.h5:
            print("                {}".format(data))
        elif self.h6:
            print("                    {}".format(data))
        
infile = open('w3c.html')
fcontent = infile.read()
infile.close()
parser = HeadingParser()

parser.feed(fcontent)

W3C Mission
    Principles

### Question 7

In [32]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links


def webdir(url,depth,indent):
    if(depth<0):
        return
    print("\t"*indent +url)
    resource = urlopen(url)
    content = resource.read().decode()
    collector = Collector(url)
    collector.feed(content)
    findUrlLst = collector.getLinks()
    
    for visiturl in findUrlLst:
        webdir(visiturl,depth-1,indent+1)

In [33]:
webdir("https://reed.cs.depaul.edu/lperkovic/test1.html",2,0)

https://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	https://reed.cs.depaul.edu/lperkovic/test3.html
		https://reed.cs.depaul.edu/lperkovic/test4.html

### Question 8

###### Let's assume that the table name is weather
a) All the temperature data. </br>

=>SELECT Temperature From weather;
    
b) All the cities, but without repetition.</br>

=>SELECT DISTINCT city FROM weather;  

c) All the records for India.</br>

=>SELECT * FROM weather WHERE Country = India ;

d) All the Fall records.</br>

=>SELECT * FROM weather WHERE Season = Fall ;

e) The city, country, and season for which the average weatherfall is between 200
and 400 millimeters.</br>

=>SELECT city, country, season FROM weather WHERE weatherfall>200 and weatherfall<400;

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.</br>

=>SELECT city, country FROM weather WHERE Temperature > 20 ORDER BY Temperature ASC;   

g) The total annual weatherfall for Cairo.</br>

=>SELECT SUM(weatherfall) FROM weather WHERE City = Cairo;

h) The total weatherfall for each season.</br>

=>SELECT SUM(weatherfall) FROM weather GROUP BY Season;

In [34]:
import sqlite3
file = "prarthana.db"
con = sqlite3.connect(file)

sq_cur = con.cursor()
sq_cur.execute("CREATE TABLE Weather_p (city text, country text, season text, temperature double, rainfall double)")


sq_cur.execute("INSERT INTO Weather_p VALUES ('Mumbai','India','Winter',24.8,5.9)")
sq_cur.execute("INSERT INTO Weather_p VALUES ('Mumbai','India','Spring',28.4,16.2)")
sq_cur.execute("INSERT INTO Weather_p VALUES ('Mumbai','India','Summer',27.9,1549.4)")
sq_cur.execute("INSERT INTO Weather_p VALUES ('Mumbai','India','Fall', 27.6,346.0)")
sq_cur.execute("INSERT INTO Weather_p VALUES ('London','United Kingdom','Winter',4.2,207.7)")
sq_cur.execute("INSERT INTO Weather_p VALUES ('London','United Kingdom','Spring',8.3,169.6)")
sq_cur.execute("INSERT INTO Weather_p VALUES ('London','United Kingdom', 'Summer',15.7,157.0)")
sq_cur.execute("INSERT INTO Weather_p VALUES ('London','United Kingdom','Fall',10.4,218.5)")
sq_cur.execute("INSERT INTO Weather_p VALUES ('Cairo', 'Egypt', 'Fall', 22.2,4.5)")
sq_cur.execute("INSERT INTO Weather_p VALUES ('Cairo', 'Egypt', 'Winter', 13.6,16.5)")
sq_cur.execute("INSERT INTO Weather_p VALUES ('Cairo', 'Egypt', 'Spring', 20.5,6.5)")
sq_cur.execute("INSERT INTO Weather_p VALUES ('Cairo', 'Egypt', 'Summer', 27.7,0.1)")
con.commit()

In [35]:
#sq_cur.execute("DROP TABLE Weather_p")

Q8a

In [36]:
sq_cur.execute("SELECT * from Weather_p")
for i in sq_cur:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.5, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)

Q8b

In [37]:
sq_cur.execute("SELECT DISTINCT city FROM Weather_p")

for i in sq_cur:
    print(i)

('Mumbai',)
('London',)
('Cairo',)

Q8c

In [38]:
sq_cur.execute("SELECT * FROM Weather_p WHERE Country = 'India'")

for i in sq_cur:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

Q8d

In [39]:
sq_cur.execute("SELECT * FROM Weather_p WHERE Season = 'Fall'")

for i in sq_cur:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

Q8e

In [41]:
sq_cur.execute("SELECT city, country, season FROM Weather_p group by city, country, season having AVG(rainfall) BETWEEN 200 AND 400")

for i in sq_cur:
    print(i)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

Q8f

In [43]:
sq_cur.execute("SELECT city, country FROM Weather_p group by city, country having AVG(Temperature) > 20 ORDER BY Temperature ASC ")

for i in sq_cur:
    print(i)

('Cairo', 'Egypt')
('Mumbai', 'India')

Q8g

In [44]:
sq_cur.execute("SELECT SUM(Rainfall) FROM Weather_p WHERE City = 'Cairo'")

for i in sq_cur:
    print(i)

(27.6,)

Q8h

In [45]:
sq_cur.execute("SELECT SUM(Rainfall) FROM Weather_p GROUP BY Season")

for i in sq_cur:
    print(i)

(569.0,)
(192.29999999999998,)
(1706.5,)
(230.1,)

### Question 9

In [46]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Q9 A ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [47]:
upperCaseWords = []

for word in words:
    upperCaseWords.append(word.upper())

print(upperCaseWords)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

Q9 B ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [48]:
lowerCaseWords = []

for word in words:
    lowerCaseWords.append(word.lower())

print(lowerCaseWords)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Q9 C[3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [49]:
wordsWithLength = []

for word in words:
    wordsWithLength.append(len(word))

print(wordsWithLength)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

Q9 D <br> <br> [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] <br><br>(the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [50]:
combineWords = []

for word in words:
    concatewd = [word.upper(),word.lower(),len(word)]
    combineWords.append(concatewd) # adding whole list in list
    

print(combineWords)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

Q9 E <br><br>['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] <br><br>(the list of words in list words containing 4 or more characters.)

In [51]:
wordsWithlength_4 =[]
for w,w1 in zip(combineWords,words):
    if(w[2]>=4):
        wordsWithlength_4.append(w1)
print(wordsWithlength_4)

['quick', 'brown', 'jumps', 'over', 'lazy']